---
import "@fontsource-variable/reem-kufi";
import "@styles/eliestetica/index.scss";

import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import prototipoLaptop from "@assets/eliestetica/prototipo_laptop.png";
import prototipoCelular from "@assets/eliestetica/prototipo_celular.png";

import vivian from "@assets/eliestetica/vivian.jpeg";
import lucas from "@assets/eliestetica/lucas.jpeg";

import problema from "@assets/eliestetica/problema.png";
import objetivo from "@assets/eliestetica/objetivo.png";
import solucao from "@assets/eliestetica/solucao.png";

import ProcessoDecoration from "@assets/eliestetica/processo_decoration.svg";

import Persona from "@components/eliestetica/Persona.astro";
---

<Layout title="Eli Estética">
  <header class="header page bg-green-light">
    <div class="container">
      <h1>
        <strong>Eli Spa & Estética:</strong> facilitando a compra de cosméticos naturais
      </h1>

      <p class="info">
        <span>UX/UI Design</span> - <span>Danilo Reis</span>
      </p>

      <Image class="prototype hide-sm-screen" src={prototipoLaptop} alt="" />
      <Image class="prototype show-sm-screen" src={prototipoCelular} alt="" />
    </div>
  </header>
  <section class="sobre page bg-green-medium">
    <div class="container">
      <h2>Sobre o projeto</h2>
      <Image class="hide-sm-screen image" src={prototipoCelular} alt="" />
      <p>
        Desenvolvi um site responsivo para a marca real “Eli Spa e Estética”,
        com foco em uma <strong>experiência intuitiva e agradável</strong>.
      </p>
      <p>
        O projeto foi pensado para facilitar a compra de cosméticos naturais,
        garantindo <strong>
          transações rápidas e eficientes em qualquer dispositivo
        </strong>.
      </p>
      <h2>Duração</h2>
      <p>Janeiro de 2025</p>
      <h2>Meu papel</h2>
      <p>
        Atuei de forma completa, conduzindo todas as etapas do desenvolvimento
        do projeto, desde o planejamento à entrega do produto final.
      </p>
    </div>
  </section>
  <section class="processo page bg-pink-light">
    <div class="container">
      <h2><span class="pill red">Processo de Design</span></h2>
      <h3>Descoberta</h3>
      <div style="--gap: 6rem" class="glyph-wrapper flex-column">
        <div class="glyph-block padding-block bg-pink-medium shadow-pink-dark">
          <Image src={problema} alt="" />
          <h4>O Problema</h4>
          <p>
            Informações excessivas ou pouco claras sobre produtos e checkout
            tornam a decisão de compra mais difícil, aumentando o tempo de
            navegação e o processo de finalização.
          </p>
        </div>
        <div
          style="align-self: flex-end;"
          class="glyph-block padding-block bg-pink-medium shadow-pink-dark">
          <Image src={objetivo} alt="" />
          <h4>Objetivo</h4>
          <p>
            Reduzir o tempo de navegação e aumentar a taxa de conversão,
            tornando a apresentação das informações mais clara e acessível.
          </p>
        </div>
        <div
          style="align-self: center;"
          class="glyph-block padding-block bg-pink-medium shadow-pink-dark">
          <Image src={solucao} alt="" />
          <h4>Solução</h4>
          <p>
            Fornecer descrições objetivas dos produtos e simplificar o fluxo de
            compra, garantindo uma experiência intuitiva e eficiente que atenda
            à necessidade dos usuários.
          </p>
        </div>
      </div>
      <h2><span class="pill red">Definição</span></h2>
      <h3>Personas</h3>
      <Persona
        foto={{
          src: vivian,
          alt: "",
        }}
        nome="Vivian"
        cidade="Fortaleza-CE"
        idade={43}
        estadoCivil="Casada"
        familia="Dois filhos"
        escolaridade="Superior incompleto"
        profissao="Secretária"
        frase="O importante é conseguir cuidar mais de mim agora"
        frustracoes={[
          "Dificuldade em encontrar produtos naturais realmente eficazes.",
          "Falta de tempo para fazer compras",
          "Navegação complicada e desorganizada",
        ]}
        metas={[
          "Ter uma rotina de autocuidado eficiente",
          "Cuidar da pele de forma natural e saudável",
          "Equilibrar vida pessoal e profissional",
        ]}>
        Vivian é uma secretária dedicada que equilibra trabalho, família e
        autocuidado. Prática e exigente, ela busca produtos naturais eficazes,
        sem complicação ou processos de compra demorados, para manter seu
        bem-estar de forma rápida e descomplicada.
      </Persona>

      <Persona
        foto={{
          src: lucas,
          alt: "",
        }}
        nome="Lucas"
        cidade="Recife-PE"
        idade={27}
        estadoCivil="Solteiro"
        familia="Sem filhos"
        escolaridade="Superior incompleto"
        profissao="Supervisor de loja"
        frase="Cuidar da minha aparência é essencial para mim, gosto de me sentir bem comigo mesmo"
        frustracoes={[
          "Processos complicados de compra",
          "Dificuldade em encontrar produtos que atendam suas necessidades",
          "Frustração por não encontrar soluções práticas de autocuidado para sua rotina agitada",
        ]}
        metas={[
          "Aprimorar o auto cuidado",
          "Adotar uma rotina mais eficiente e organizada",
          "Investir em produtos de qualidade",
        ]}>
        Lucas é um supervisor de loja com uma rotina agitada, sempre buscando
        formas de cuidar de si mesmo sem perder tempo. Ele valoriza a
        praticidade e a eficácia, procurando produtos que ofereçam resultados
        rápidos e sejam fáceis de usar. Seu foco é encontrar soluções simples
        que se encaixem no seu estilo de vida corrido, garantindo que sua
        aparência e bem-estar estejam sempre em dia.
      </Persona>

      <h3>Jornada do Usuário</h3>

      <p>Objetivo: Lucas realizar a compra de um cosmético natural no site.</p>
      <div class="table-wrapper">
        <table class="jornada">
          <thead>
            <tr>
              <th scope="col">Ação</th>
              <th scope="col">Descoberta e Navegação</th>
              <th scope="col">Exploração dos Produtos</th>
              <th scope="col">Seleção do Produto</th>
              <th scope="col">Checkout</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Lista de tarefas</th>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #aeb2f9" class="post-it">
                    O usuário acessa o site em busca de cosméticos naturais.
                  </div>
                  <div style="--bg-color: #aeb2f9" class="post-it">
                    Verifica se é um site confiável olhando o feedback dos
                    clientes.
                  </div>
                  <div style="--bg-color: #aeb2f9" class="post-it">
                    Procura informações se os produtos são naturais.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #ebd55d" class="post-it">
                    Clica nos produtos masculinos na barra de navegação.
                  </div>
                  <div style="--bg-color: #ebd55d" class="post-it">
                    Busca pela opção desejada.
                  </div>
                  <div style="--bg-color: #ebd55d" class="post-it">
                    Seleciona um produto.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #a5d182" class="post-it">
                    Lê as descrições e compara os produtos.
                  </div>
                  <div style="--bg-color: #a5d182" class="post-it">
                    Verifica o preço.
                  </div>
                  <div style="--bg-color: #a5d182" class="post-it">
                    Adiciona à cesta.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #eaac6d" class="post-it">
                    Confere o produto que selecionou.
                  </div>
                  <div style="--bg-color: #eaac6d" class="post-it">
                    Preenche os formulários.
                  </div>
                  <div style="--bg-color: #eaac6d" class="post-it">
                    Recebe a confirmação.
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Sentimento</th>
              <td><span class="emoji">🤔</span></td>
              <td><span class="emoji">😏</span></td>
              <td><span class="emoji">😁</span></td>
              <td><span class="emoji">🥳</span></td>
            </tr>
            <tr>
              <th scope="row">Oportunidade de melhoria</th>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Organizar os produtos em categorias.
                  </div>
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Colocar uma funcionalidade de busca.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Destacar informações essenciais.
                  </div>
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Simplificar a descrição dos produtos.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Implementar recomendações personalizadas.
                  </div>
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Colocar opção de favoritar um produto.
                  </div>
                </div>
              </td>
              <td>
                <div class="flex post-it-wrapper">
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Simplificar fluxo de checkout.
                  </div>
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Reduzir as etapas.
                  </div>
                  <div style="--bg-color: #b4cbf1" class="post-it">
                    Adicionar uma opção de acompanhar o pedido.
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ProcessoDecoration class="decoration" />
  </section>
  <section class="desenvolvimento page bg-green-light">
    <div class="container">
      <h2><span class="pill green">Desenvolvimento</span></h2>
      <h3>Sitemap</h3>
      <h3>Wireframes</h3>
      <h3>Guia de Estilos</h3>
      <h4>Tipografia</h4>
      <h4>Paleta de cores</h4>
      <h4>Ícones e Componentes</h4>
      <h4>Logomarcas</h4>
      <h4>Ferramentas</h4>
    </div>
  </section>
</Layout>
