---
import Layout from "@layouts/Layout.astro";

import "@fontsource-variable/anek-odia";
import "@styles/reset.scss";
import "@styles/vivant/typography.scss";
import "@styles/vivant/composition.scss";
import "@styles/vivant/utilities.scss";
import "@styles/vivant/index.scss";

import { Image } from "astro:assets";

import Behance from "@assets/logos/behance.svg";
import FigmaLogo from "@assets/logos/figma.svg";
import Linkedin from "@assets/logos/linkedin.svg";
import MeetLogo from "@assets/logos/google_meet.svg";
import MiroLogo from "@assets/logos/miro.svg";

import Icones from "@assets/vivant/icones.svg";
import NotionLogo from "@assets/logos/notion.svg";
import VivantLogo from "@assets/vivant/vivant_logo.svg";

import conclusaoMockup from "@assets/vivant/conclusao_mockup.png";
import headerMockup from "@assets/vivant/header_mockup.png";
import henrique from "@assets/vivant/henrique.jpg";
import marilia from "@assets/vivant/marilia.jpg";

import wireframe1 from "@assets/vivant/wireframe-1.jpeg";
import wireframe2 from "@assets/vivant/wireframe-2.jpeg";
import wireframe3 from "@assets/vivant/wireframe-3.png";
import wireframe4 from "@assets/vivant/wireframe-4.png";

import mockup1 from "@assets/vivant/mockup-1.png";
import mockup2 from "@assets/vivant/mockup-2.png";
import mockup3 from "@assets/vivant/mockup-3.png";

import ArrowRight from "~icons/lucide/arrow-right";
import MapPin from "~icons/ph/map-pin-fill";
import Target from "~icons/streamline/target";
import Persona from "@components/vivant/Persona.astro";

const permalink = new URL(Astro.url.pathname, Astro.site).href;

const title =
  "Vivant Restaurante - Simplificando a reserva de mesas e horários";
const description =
  "Vivant Restaurante é um aplicativo inovador que redefine a experiência de reserva e pedidos em restaurantes. Design intuitivo e centrado no usuário, criado por Danilo Reis.";
---

<Layout title="Vivant Restaurante">
  <!-- Open Graph Meta Tags -->
  <meta slot="opengraph" property="og:title" content={title} />
  <meta slot="opengraph" property="og:description" content={description} />
  <meta slot="opengraph" property="og:image" content="/vivant_og.png" />
  <meta slot="opengraph" property="og:url" content={permalink} />
  <meta slot="opengraph" property="og:type" content="website" />
  <meta slot="opengraph" property="og:locale" content="pt_BR" />

  <!-- Twitter Meta Tags -->
  <meta slot="twitter" name="twitter:card" content="summary_large_image" />
  <meta slot="twitter" name="twitter:title" content={title} />
  <meta slot="twitter" name="twitter:description" content={description} />
  <meta slot="twitter" name="twitter:image" content="/vivant_og.png" />

  <header class="header bg-main">
    <div class="container">
      <div class="text">
        <h1 id="app-vivant-restaurante">
          <small class="app">App</small>
          <span class="vivant">Vivant</span>
          <span class="restaurante">Restaurante</span>
        </h1>
        <p><big>Simplificando a reserva de mesas e horários</big></p>

        <ul class="tags flex-list">
          <li>UX/UI Design</li>
          <li>UX Research</li>
        </ul>

        <p class="author">Danilo Reis</p>
      </div>
      <div class="image">
        <Image
          src={headerMockup}
          alt="Uma mão segurando um smartphone com a tela inicial do app vivant restaurante aberta."
        />
      </div>
    </div>
  </header>

  <section class="projeto bg-neutral">
    <div class="container">
      <h2 id="projeto">Projeto</h2>
      <div class="grade">
        <div class="item">
          <h3>Produto</h3>
          <p>
            O aplicativo foi desenvolvido para proporcionar uma experiência
            prática na reserva de horários e mesas, permitindo escolhas rápidas
            e sem complicações.
          </p>
        </div>
        <div class="item">
          <h3>Ferramentas</h3>
          <ul class="ferramentas flex-list">
            <li><FigmaLogo /></li>
            <li><MiroLogo /></li>
            <li><MeetLogo /></li>
            <li><NotionLogo /></li>
          </ul>
        </div>
        <div class="item">
          <h3>Duração do Projeto</h3>
          <p><time>Novembro a Dezembro de 2024</time></p>
        </div>
        <div class="item">
          <h3>Meu papel</h3>
          <p>
            Designer de UX liderando o app desde a concepção até a entrega,
            usando do Design Thinking.
          </p>
        </div>
      </div>

      <h3>Responsabilidades</h3>
      <p>
        Pesquisa e análise, prototipagem e design, ux writing, ux research e
        gestão de projeto.
      </p>

      <h3>Desafios Encontrados na Primeira Entrevista</h3>
      <div class="desafios grade">
        <div class="item">
          <p class="desafio outline">
            Dificuldade em encontrar mesas disponíveis, muitas vezes exigindo
            reservas via WhatsApp, o que pode ser demorado e pouco prático.
          </p>
        </div>
        <div class="item">
          <p class="desafio outline">
            Experiência de reserva pouco intuitiva, comprometida por uma
            navegação confusa e interações pouco fluídas.
          </p>
        </div>
      </div>

      <h3>Meta</h3>
      <p>
        Identificar quais os desafios enfrentados pelos usuários durante o
        processo de reserva e aprimorar a experiência, tornando-a mais
        confortável, intuitiva e segura.
      </p>
    </div>
  </section>

  <section class="pesquisa bg-main color-neutral">
    <div class="container">
      <h2 id="usuario">Usuário</h2>
      <h3>Pesquisa com usuários</h3>
      <p>Aspectos problemáticos encontrados com a pesquisa e insights:</p>
      <ol class="problemas flex-list">
        <li class="problema">
          <p class="outline">
            Processo de reserva lento e burocrático, com múltiplas etapas e
            excesso de solicitações de dados.
          </p>
          <ArrowRight />
          <p class="outline">
            Simplificar o processo de reserva, tornando-o mais rápido e sem
            etapas desnecessárias, para garantir uma experiência sem
            frustrações.
          </p>
        </li>
        <li class="problema">
          <p class="outline">
            Ausência de funcionalidade de reserva direta no aplicativo.
          </p>
          <ArrowRight />
          <p class="outline">
            Integrar uma solução de reserva diretamente no app, sem
            redirecionamentos para outras plataformas, garantindo mais
            comodidade e simplicidade.
          </p>
        </li>
        <li class="problema">
          <p class="outline">A complexidade no processo de reserva.</p>
          <ArrowRight />
          <p class="outline">
            Desenvolver um design centrado na usabilidade, priorizando clareza,
            eficiência e uma experiência ágil, com o mínimo de informações
            necessárias.
          </p>
        </li>
      </ol>

      <h3>Personas</h3>

      <Persona
        nome="Marília"
        foto={{
          src: marilia,
          alt: "Mulher de cabelo ondulado na altura do ombro, usando camisa laranja e sorrindo.",
        }}
        idade={46}
        cidade="Belo Horizonte, MG"
        estadoCivil="Divorciada"
        escolaridade="Superior Completo"
        familia="2 filhos"
        profissao="Massagista"
        frase="Não quero mais perder tempo, tenho sede de viver"
        interesses={[
          "Concluir uma reserva com facilidade.",
          "Não ter que esperar em filas.",
          "Evitar burocracias.",
        ]}
        frustracoes={[
          "Falta de tempo.",
          "Problemas com reserva.",
          "Chegar no restaurante e ter de aguardar liberação da mesa.",
        ]}>
        Marília é uma mulher cisgênero, heterossexual, conhecida por sua
        personalidade divertida, espontanea e alegre. Após um divórcio recente,
        está em busca de redescobrir os prazeres da vida de solteira. Ela gosta
        de sair com as amigas para jantar, conhecer pessoas novas e se divertir.
      </Persona>

      <hr />

      <Persona
        nome="Henrique"
        foto={{
          src: henrique,
          alt: "Homem jovem, de cabelo loiro e curto, usando uma camisa amarela.",
        }}
        idade={30}
        cidade="Sete Lagoas, MG"
        estadoCivil="Solteiro"
        escolaridade="Superior Completo"
        familia="Sem filhos"
        profissao="Analista de suporte"
        frase="Gosto do prático e ágil, detesto burocracia"
        interesses={[
          "Rapidez e praticidade na reserva.",
          "Usar de tecnologias que otimizam o tempo.",
          "Concluir uma reserva sem transtorno.",
        ]}
        frustracoes={[
          "Reserva não garantida.",
          "Atendimento demorado.",
          "Lugares sem diversidade.",
        ]}>
        Henrique é um homem cisgênero e gay que vive sozinho no interior. Sua
        personalidade é marcada pela praticidade, agilidade e decisão. Nos
        momentos de lazer adora sair com os amigos, desfrutar de boas refeições,
        ouvir música, e explorar cachoeiras. Valoriza a comodidade e busca uma
        vida confortável, longe de complicações.
      </Persona>
      <hr />

      <h3>Jornada do Usuário</h3>

      <p class="caption">
        <Target />
        <span class="color-accent">Objetivo:</span> Marília reservar uma mesa em
        um restaurante.
      </p>
      <div class="table-wrapper">
        <table class="jornada">
          <thead>
            <tr>
              <th scope="col">Fases</th>
              <th scope="col">Identificação da necessidade</th>
              <th scope="col">Busca por um restaurante</th>
              <th scope="col">Escolha do restaurante</th>
              <th scope="col">Reserva</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Ação</th>
              <td>
                <ol>
                  <li>Entra em contato com as amigas</li>
                  <li>Verifica a agenda de todas</li>
                  <li>Definem um tipo de restaurante</li>
                </ol>
              </td>
              <td>
                <ul>
                  <li>Busca Online</li>
                  <li>Acesso às redes sociais</li>
                  <li>Pedir opinião/recomendação das amigas</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Ver as avaliações</li>
                  <li>Consultar o cardápio</li>
                  <li>Compartilhar com as amigas</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Abrir app</li>
                  <li>Selecionar o dia, horário e mesa</li>
                  <li>Reservar</li>
                  <li>Confirmação de reserva</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Sentimentos</th>
              <td><span class="emoji">😊</span></td>
              <td><span class="emoji">🤔</span></td>
              <td><span class="emoji">🤩</span></td>
              <td><span class="emoji">😌</span></td>
            </tr>
            <tr>
              <th scope="row">Oportunidade</th>
              <td>
                <ul>
                  <li>Calendário compartilhado</li>
                  <li>Enquete para votação sobre o tipo de restaurante</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    Coletar as preferências da usuária e indicar restaurantes
                  </li>
                  <li>Criar uma lista com os melhores restaurantes</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Restaurantes bem avaliados aparecem primeiro</li>
                  <li>QR Code ou link para a usuária baixar o app</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Compartilhar a reserva</li>
                  <li>Avaliação e feedback do app</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section class="fluxo bg-main color-neutral">
    <div class="container">
      <h3>Fluxo do usuário</h3>
      <iframe
        class="userflow"
        width="768"
        height="768"
        src="https://miro.com/app/embed/uXjVIehzvLc=/?pres=1&frameId=3458764617179332515&embedId=309238824385"
        allow="fullscreen; clipboard-read; clipboard-write"
        allowfullscreen></iframe>
    </div>
  </section>

  <section class="desenvolvimento bg-accent">
    <div class="container">
      <h2 class="fluid">Desenvolvimento</h2>
      <h3>Wireframes</h3>
      <ul class="wireframes">
        <li class="item">
          <Image
            src={wireframe1}
            alt="Wireframe do projeto Vivant Restaurante"
          />
        </li>
        <li class="item">
          <Image
            src={wireframe2}
            alt="Wireframe do projeto Vivant Restaurante"
          />
        </li>
        <li class="item">
          <Image
            src={wireframe3}
            alt="Wireframe do projeto Vivant Restaurante"
          />
        </li>
        <li class="item">
          <Image
            src={wireframe4}
            alt="Wireframe do projeto Vivant Restaurante"
          />
        </li>
      </ul>

      <h3>Resultados dos estudos de usabilidade</h3>

      <div class="estudos">
        <div class="estudo">
          <h4 class="titulo"><span class="numero">1º</span> Estudo</h4>
          <ul>
            <li>Necessidade de melhorar o fluxo de escolha de mesa.</li>
            <li>Incluir a opção de editar a reserva.</li>
            <li>
              Adicionar um campo para atendimento personalizado em situações
              especiais, como aniversários e comemorações.
            </li>
          </ul>
        </div>
        <div class="estudo">
          <h4 class="titulo"><span class="numero">2º</span> Estudo</h4>
          <ul>
            <li>
              Melhorias no design dos botões da tela inicial (cores, proporção).
            </li>
            <li>
              Aprimorar os textos dos botões de ação para evitar confusão.
            </li>
            <li>
              Adicionar uma tela de confirmação após a avaliação do app,
              garantindo que o feedback foi registrado com sucesso.
            </li>
          </ul>
        </div>
      </div>

      <h3>Mockup</h3>
      <ul class="mockups flex-list">
        <li class="item"><Image src={mockup1} alt="" /></li>
        <li style="width: 48%" class="item">
          <Image
            src={mockup2}
            alt="Mockup de Alta Fidelidade do Vivant Restaurante"
          />
        </li>
        <li style="width: 80%" class="item">
          <Image
            src={mockup3}
            alt="Mockup de Alta Fidelidade do Vivant Restaurante"
          />
        </li>
      </ul>

      <h3>Elementos visuais</h3>

      <div class="elementos-visuais">
        <div class="logo">
          <h4>Logomarca</h4>
          <VivantLogo />
        </div>
        <div class="icones">
          <h4>Ícones</h4>
          <Icones />
        </div>
        <div class="cores">
          <h4>Cores</h4>
          <ul class="flex-list">
            <li>
              <span style="background: #FFF8E6" class="cor"></span>#FFF8E6
            </li>
            <li>
              <span style="background: #8D0B41" class="cor"></span>#8D0B41
            </li>
            <li>
              <span style="background: #FBBC05" class="cor"></span>#FBBC05
            </li>
            <li>
              <span style="background: #302E2E" class="cor"></span>#302E2E
            </li>
            <li>
              <span style="background: #4F4D48" class="cor"></span>#4F4D48
            </li>
          </ul>
        </div>
        <div class="tipografias">
          <h4>Tipografia</h4>
          <ul class="flex-list flex-column">
            <li class="tipografia">
              <span>Anek Odia / MEDIUM / 27px</span><span
                style="font-size: 27px">Exemplo</span
              >
            </li>
            <li class="tipografia">
              <span>Anek Odia / MEDIUM / 20px</span><span
                style="font-size: 20px">Exemplo</span
              >
            </li>
            <li class="tipografia">
              <span>Anek Odia / MEDIUM / 13px</span><span
                style="font-size: 13px">Exemplo</span
              >
            </li>
          </ul>
        </div>
        <div class="botoes">
          <h4>Botões</h4>
          <ul class="flex-list">
            <li><button>Rótulo</button></li>
            <li><button class="light">Rótulo</button></li>
            <li><button class="round">1</button></li>
            <li><button class="round light">1</button></li>
            <li><button class="select"><MapPin /> Rótulo</button></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="prototipo bg-main">
    <div class="container">
      <h3>Protótipo de Alta Fidelidade</h3>
      <div class="prototype">
        <iframe
          width="720"
          height="680"
          src="https://embed.figma.com/proto/hhzUi63oMBCessxGAzfFC6/Vivant?node-id=485-499&p=f&scaling=scale-down&content-scaling=fixed&page-id=267%3A16&starting-point-node-id=485%3A499&embed-host=share"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="conclusao bg-neutral">
    <div class="container">
      <div class="aprendizado">
        <h2>Conclusão</h2>
        <h3>Aprendizado</h3>
        <p>
          Este projeto reforçou a <strong
            >importância de entender a fundo as dores e necessidades dos
            usuários</strong
          > antes de propor soluções. Aprendi que
          <strong>simplicidade e clareza</strong> são essenciais para uma experiência
          fluida, especialmente em processos sensíveis como reservas. Além disso,
          participar de <strong>todas as etapas do desenvolvimento</strong> ampliou
          minha visão sobre a integração entre pesquisa, design e usabilidade, destacando
          a importância da <strong
            >iteração contínua com base no feedback dos usuários.</strong
          >
        </p>
      </div>

      <div class="etapas">
        <h3>Próximas etapas</h3>
        <ol>
          <li>
            Coletar dados de uso do aplicativo após o lançamento para entender
            melhor como os usuários interagem com as demais funcionalidades.
          </li>
          <li>
            Analisar os feedbacks recebidos nas avaliações para identificar
            oportunidades de aprimoramento e focar nas áreas que precisam de
            melhorias.
          </li>
        </ol>
      </div>
      <Image
        src={conclusaoMockup}
        alt="Uma mão segura um aparelho celular com o mockup de alta fidelidade do Vivant Restaurante aberto."
      />
    </div>
  </section>

  <footer class="obrigado bg-main">
    <div class="container">
      <h2>Muito obrigado!</h2>
      <h3><strong>Danilo Reis</strong> - UX/UI Design</h3>
      <a class="email" href="mailto:daniloaugustosr@gmail.com"
        >daniloaugustosr@gmail.com</a
      >
      <ul class="social-media flex-list">
        <li>
          <a href="https://linkedin.com/in/daniloasreis">
            <Linkedin /> daniloasreis
          </a>
        </li>
        <li>
          <a href="https://www.behance.net/daniloasreis">
            <Behance /> daniloasreis
          </a>
        </li>
      </ul>
    </div>
  </footer>
</Layout>
