---
import '@fontsource-variable/anek-odia';
import '../styles/reset.scss';

import { Image } from 'astro:assets';

import FigmaLogo from '../assets/figma_logo.svg';
import MiroLogo from '../assets/miro_logo.svg';
import MeetLogo from '../assets/meet_logo.svg';
import NotionLogo from '../assets/notion_logo.svg';
import headerMockup from '../assets/header_mockup.png';
import marilia from '../assets/marilia.jpg';
import henrique from '../assets/henrique.jpg';

import ArrowRight from '~icons/lucide/arrow-right';
import Target from '~icons/streamline/target';
---

<style lang="scss">
  @use '../styles/colors.scss';
  @use '../styles/tokens.scss';

  body {
    font-family: 'Anek Odia Variable', sans-serif;
    font-size: 18px;
  }

  main {
    height: 100lvh;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
  }

  header,
  section {
    background-color: var(--background-color);
    scroll-snap-align: start;
  }

  section {
    h2:first-child {
      font-size: 72px;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: -1.05em;
      color: colors.$accent-light;
      margin-inline: -0.1ch;
    }
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      color: colors.$main;
      font-size: 24px;
      margin-top: 1em;
      margin-bottom: 0.25em;
      margin-inline: -0.05ch;
    }
  }

  p {
    line-height: 1.6;
    margin-bottom: 0.75em;
    hyphens: auto;
  }

  .container {
    margin: auto;
    padding-inline: tokens.$space-6;
    padding-block: tokens.$space-8;
    max-width: 64rem;
    min-height: 100dvh;
    overflow-x: auto;
  }

  :focus-visible {
    outline-offset: 0.25em;
    outline-width: 2px;
    outline-color: #fbbc05;
    outline-style: dashed;
    padding-inline: 0.2em;
    margin-inline: -0.2em;
  }

  a {
    color: currentColor;
    text-underline-offset: 3px;
    border-radius: tokens.$space-2;
  }

  .header {
    --background-color: #{colors.$main};
    color: colors.$neutral-light;
    position: relative;
    overflow: clip;

    .container {
      display: grid;
      grid: 'text image' / 1.2fr 1fr;
      gap: tokens.$space-4;
      height: 100dvh;
      overflow: visible;
      padding-block: tokens.$space-12;
    }

    .image {
      grid-area: image;
      margin-bottom: calc(-1 * tokens.$space-12);
      position: relative;
      img {
        position: absolute;
        height: calc(100vh - tokens.$space-12);
        width: auto;
        aspect-ratio: 706 / 1003;
        left: 0;
        top: 0;
        max-width: unset;
      }
    }

    .text {
      grid-area: text;
      display: flex;
      flex-direction: column;
      gap: tokens.$space-4;
    }

    @media (max-aspect-ratio: 8 / 10) {
      .container {
        grid:
          'text' min-content
          'image' / 1fr;
      }
      .image {
        img {
          left: unset;
          right: 0;
          height: 100%;
        }
      }
    }

    hgroup {
      margin-bottom: tokens.$space-6;
    }
    h1 {
      text-transform: uppercase;
      font-size: 72px;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      margin-bottom: tokens.$space-6;
      > * {
        display: block;
        height: 1em;
      }
      .app {
        font-size: 28px;
        font-weight: 200;
      }
      .restaurante {
        font-size: 0.5em;
      }
    }

    h2 {
      font-weight: 300;
    }
    .tags {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: tokens.$space-6;
      margin-bottom: tokens.$space-8;
      li {
        padding-inline: tokens.$space-4;
        padding-top: calc(tokens.$space-2 + 0.4em);
        padding-bottom: tokens.$space-2;
        line-height: 1;
        border: 1px solid colors.$neutral-light;
        border-radius: tokens.$space-4;
      }
    }
    .author {
      text-transform: uppercase;
      font-size: 1.5em;
    }
  }

  .projeto {
    counter-reset: desafio;
    --background-color: #{colors.$neutral-light};
    .ferramentas {
      display: flex;
      padding: 0;
      list-style-type: none;
      gap: tokens.$space-6;
      img {
        width: 3rem;
        height: 3rem;
      }
    }
    .grade {
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      display: grid;
      row-gap: tokens.$space-4;
      column-gap: tokens.$space-12;
    }
    .desafios {
      margin-top: tokens.$space-6;
    }
    .desafio {
      border: 4px solid colors.$main;
      border-radius: tokens.$space-5;
      padding: tokens.$space-5;
      position: relative;
      &::before {
        content: counter(desafio);
        counter-increment: desafio;
        width: 3rem;
        height: 3rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: colors.$main;
        border-radius: 50%;
        font-size: 1.5em;
        color: colors.$neutral-light;
        padding-top: 0.7ex;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-40%, -40%);
      }
    }
  }

  .pesquisa {
    --background-color: #{colors.$main};
    h2:first-child {
      color: rgba($color: #000000, $alpha: 0.2);
    }
    h3 {
      color: colors.$accent;
    }
    color: colors.$neutral-light;
    .problemas {
      counter-reset: problemas;
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: tokens.$space-6;
      margin-top: tokens.$space-6;
    }
    .problema {
      counter-increment: problemas;
      display: grid;
      grid-template-columns: 1fr 6rem 1fr;
      gap: tokens.$space-4;
    }
    .problema svg {
      color: colors.$accent;
      place-self: center;
      width: 2rem;
      height: 2rem;
    }
    @media (max-width: 40rem) {
      .problemas {
        gap: calc(3 * tokens.$space-6);
      }
      .problema {
        grid-template-columns: 1fr;
      }
      .problema svg {
        transform: rotate(90deg);
      }
    }
    .problema p {
      margin-bottom: 0;
      border: 4px solid colors.$accent;
      border-radius: tokens.$space-5;
      padding: tokens.$space-5;
      position: relative;
      &:first-child:before {
        content: counter(problemas);
        width: 3rem;
        height: 3rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: colors.$accent;
        border-radius: 50%;
        font-size: 1.5em;
        color: colors.$main;
        padding-top: 0.7ex;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-40%, -40%);
      }
    }
  }

  .persona {
    $responsive-bp: 48rem;
    margin-block: tokens.$space-8;
    line-height: 1.6;
    display: grid;
    gap: tokens.$space-5;
    grid:
      'perfil frase frase' min-content
      'perfil interesses frustracoes' min-content
      'perfil descricao descricao' 1fr /1fr 1fr 1fr;
    @media (max-width: $responsive-bp) {
      grid:
        'perfil'
        'frase'
        'descricao'
        'interesses'
        'frustracoes' / 1fr;
    }
    h4,
    h5 {
      font-size: 24px;
      line-height: 1;
      color: colors.$accent;
    }
    ul {
      padding: tokens.$space-4;
      padding-bottom: 0;
    }
    hr {
      border-bottom: 1px solid colors.$neutral-light;
      width: calc(100% + tokens.$space-5);
    }
    .perfil {
      grid-area: perfil;
      display: flex;
      flex-direction: column;
      gap: tokens.$space-2;
      padding-right: tokens.$space-5;
      border-right: 1px solid colors.$neutral-light;
      @media (max-width: $responsive-bp) {
        border-right: none;
      }
      h4 {
        text-align: center;
        margin-top: tokens.$space-4;
      }
      img {
        border-radius: 50%;
        width: 10rem;
        height: auto;
        margin-inline: auto;
        aspect-ratio: 1 / 1;
      }
    }
    .frase {
      grid-area: frase;
      border: 1px solid colors.$neutral-light;
      font-size: 24px;
      border-radius: tokens.$space-5;
      padding: tokens.$space-4;
      padding-block: tokens.$space-2;
      padding-top: calc(tokens.$space-4 + 0.1ex);
      color: colors.$accent;
      text-align: center;
    }
    .interesses {
      grid-area: interesses;
    }
    .frustracoes {
      grid-area: frustracoes;
    }
    .detalhes {
      list-style-type: none;
      padding: 0;
      padding-block: tokens.$space-2;
      li {
        text-wrap: nowrap;
        display: flex;
        gap: 1ex;
      }
      span {
        color: colors.$accent;
      }
    }
    .descricao {
      grid-area: descricao;
      border: 1px solid colors.$accent;
      border-radius: tokens.$space-5;
      padding: tokens.$space-5;
    }
  }

  .table-wrapper {
    width: 100%;
    overflow-y: auto;
    border: 1px solid colors.$accent;
    border-radius: tokens.$space-4;
    scrollbar-color: colors.$main colors.$accent;
    background:
      linear-gradient(to right, colors.$main, transparent) left,
      linear-gradient(to left, colors.$main, transparent) right,
      linear-gradient(to right, hsl(0deg 0% 0% / 15%), transparent) left,
      linear-gradient(to left, hsl(0deg 0% 0% / 15%), transparent) right;
    background-repeat: no-repeat;
    background-size:
      4rem 100%,
      4rem 100%,
      2rem 100%,
      2rem 100%;
    background-attachment: local, local, scroll, scroll;
  }

  .caption {
    text-align: left;
    .objetivo {
      color: colors.$accent;
    }
    svg {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .jornada {
    min-width: 76rem;
    border-collapse: collapse;
    th {
      color: colors.$accent;
    }
    th,
    td {
      text-align: left;
      vertical-align: top;
      border: 1px solid colors.$accent;
      padding-inline: tokens.$space-4;
      padding-block: tokens.$space-3;
    }
    th:first-child {
      border-left: 0;
    }
    :is(td, th):last-child {
      border-right: 0;
    }
    tr:first-child th {
      border-top: 0;
    }
    tbody tr:last-child :is(td, th) {
      border-bottom: 0;
    }
    ul,
    ol {
      padding-left: 2ch;
    }
  }
</style>

<main>
  <header class="header">
    <div class="container">
      <div class="text">
        <hgroup>
          <h1 id="app-vivant-restaurante">
            <small class="app">App</small>
            <span class="vivant">Vivant</span>
            <span class="restaurante">Restaurante</span>
          </h1>
          <h2>Simplificando a reserva de mesas e horários</h2>
        </hgroup>

        <ul class="tags">
          <li>UX/UI Design</li>
          <li>UX Research</li>
        </ul>

        <p class="author">Danilo Reis</p>
      </div>
      <div class="image">
        <Image
          src={headerMockup}
          alt="Uma mão segurando um smartphone com a tela inicial do app vivant restaurante aberta."
        />
      </div>
    </div>
  </header>

  <section class="projeto">
    <div class="container">
      <h2 id="projeto">Projeto</h2>
      <div class="grade">
        <div class="item">
          <h3>Produto</h3>
          <p>
            O aplicativo foi desenvolvido para proporcionar uma experiência
            prática na reserva de horários e mesas, permitindo escolhas rápidas
            e sem complicações.
          </p>
        </div>
        <div class="item">
          <h3>Ferramentas</h3>
          <ul class="ferramentas">
            <li>
              <Image style={{ width: '2rem' }} src={FigmaLogo} alt="Figma" />
            </li>
            <li><Image src={MiroLogo} alt="Miro" /></li>
            <li><Image src={MeetLogo} alt="Google Meet" /></li>
            <li><Image src={NotionLogo} alt="Notion" /></li>
          </ul>
        </div>
        <div class="item">
          <h3>Duração do Projeto</h3>
          <p><time>Novembro a Dezembro de 2024</time></p>
        </div>
        <div class="item">
          <h3>Meu papel</h3>
          <p>Designer de UX liderando o app desde a concepção até a entrega.</p>
        </div>
      </div>

      <h3>Responsabilidades</h3>
      <p>
        Pesquisa e análise, prototipagem e design, ux writing, ux research e
        gestão de projeto.
      </p>

      <h3>Desafios</h3>
      <div class="desafios grade">
        <div class="item">
          <p class="desafio">
            Dificuldade em encontrar mesas disponíveis, muitas vezes exigindo
            reservas via WhatsApp, o que pode ser demorado e pouco prático.
          </p>
        </div>
        <div class="item">
          <p class="desafio">
            Experiência de reserva pouco intuitiva, comprometida por uma
            navegação confusa e interações pouco fluídas.
          </p>
        </div>
      </div>

      <h3>Meta</h3>
      <p>
        Identificar os desafios enfrentados pelos usuários durante o processo de
        reserva e aprimorar a experiência, tornando-a mais confortável,
        intuitiva e segura.
      </p>
    </div>
  </section>

  <section class="pesquisa">
    <div class="container">
      <h2 id="usuario">Usuário</h2>
      <h3>Pesquisa com usuários</h3>
      <p>Aspectos problemáticos encontrados com a pesquisa e insights:</p>
      <ol class="problemas">
        <li class="problema">
          <p>
            Processo de reserva lento e burocrático, com múltiplas etapas e
            excesso de solicitações de dados.
          </p>
          <ArrowRight />
          <p>
            Simplificar o processo de reserva, tornando-o mais rápido e sem
            etapas desnecessárias, para garantir uma experiência sem
            frustrações.
          </p>
        </li>
        <li class="problema">
          <p>Ausência de funcionalidade de reserva direta no aplicativo.</p>
          <ArrowRight />
          <p>
            Integrar uma solução de reserva diretamente no app, sem
            redirecionamentos para outras plataformas, garantindo mais
            comodidade e simplicidade.
          </p>
        </li>
        <li class="problema">
          <p>A complexidade no processo de reserva.</p>
          <ArrowRight />
          <p>
            Desenvolver um design centrado na usabilidade, priorizando clareza,
            eficiência e uma experiência ágil, com o mínimo de informações
            necessárias.
          </p>
        </li>
      </ol>

      <h3>Personas</h3>

      <div class="persona">
        <div class="perfil">
          <Image
            alt="Mulher de cabelo ondulado na altura do ombro, usando camisa laranja e sorrindo."
            src={marilia}
          />
          <h4>Marília</h4>
          <hr />
          <ul class="detalhes">
            <li>
              <span>Idade:</span>
              46 anos
            </li>
            <li>
              <span>Cidade:</span>
              Belo Horizonte, MG
            </li>
            <li>
              <span>Estado Civil:</span>
              Divorciada
            </li>
            <li>
              <span>Família:</span>
              02 filhos
            </li>
            <li>
              <span>Escolaridade:</span>
              Superior Completo
            </li>
            <li>
              <span>Profissão:</span>
              Massagista
            </li>
          </ul>
        </div>
        <p class="descricao">
          Marília é uma mulher cisgênero, heterossexual, conhecida por sua
          personalidade divertida, espontanea e alegre. Após um divórcio
          recente, está em busca de redescobrir os prazeres da vida de solteira.
          Ela gosta de sair com as amigas para jantar, conhecer pessoas novas e
          se divertir.
        </p>
        <aside class="frase">
          “Não quero mais perder tempo, tenho sede de viver”
        </aside>

        <div class="interesses">
          <h5>Interesses e Desejos</h5>
          <ul>
            <li>Se reunir com as amigas.</li>
            <li>Conhecer novos restaurantes.</li>
            <li>Experimentar novas culinárias.</li>
          </ul>
        </div>

        <div class="frustracoes">
          <h5>Frustrações</h5>
          <ul>
            <li>Falta de tempo.</li>
            <li>Problemas com reserva.</li>
            <li>Chegar no restaurante e ter de aguardar liberação da mesa.</li>
          </ul>
        </div>
      </div>
      <hr />

      <div class="persona">
        <div class="perfil">
          <Image
            alt="Homem jovem, de cabelo loiro e curto, usando uma camisa amarela."
            src={henrique}
          />
          <h4>Henrique</h4>
          <hr />
          <ul class="detalhes">
            <li><span>Idade:</span> 30 anos</li>
            <li><span>Cidade:</span> Sete Lagoas, MG</li>
            <li><span>Estado Civil:</span> Solteiro</li>
            <li><span>Família:</span> Sem filhos</li>
            <li><span>Escolaridade:</span> Superior Completo</li>
            <li><span>Profissão:</span> Analista de Suporte</li>
          </ul>
        </div>
        <p class="descricao">
          Henrique é um homem cisgênero e gay que vive sozinho no interior. Sua
          personalidade é marcada pela praticidade, agilidade e decisão. Nos
          momentos de lazer adora sair com os amigos, desfrutar de boas
          refeições, ouvir música, e explorar cachoeiras. Valoriza a comodidade
          e busca uma vida confortável, longe de complicações
        </p>
        <aside class="frase">
          “Gosto do prático e ágil, detesto burocracia”
        </aside>
        <div class="interesses">
          <h5>Interesses e Desejos</h5>
          <ul>
            <li>Gosta de bom atendimento.</li>
            <li>Tecnologia e soluções que otimizam o tempo.</li>
            <li>Preferência por ambientes modernos.</li>
          </ul>
        </div>
        <div class="frustracoes">
          <h5>Frustrações</h5>
          <ul>
            <li>Reserva não garantida.</li>
            <li>Atendimento demorado.</li>
            <li>Lugares sem diversidade.</li>
          </ul>
        </div>
      </div>

      <h3>Jornada do Usuário</h3>

      <p class="caption">
        <Target />
        <span class="objetivo">Objetivo:</span> Marília reservar uma mesa em um restaurante.
      </p>
      <div class="table-wrapper">
        <table class="jornada">
          <thead>
            <tr>
              <th scope="col">Fases</th>
              <th scope="col">Identificação da necessidade</th>
              <th scope="col">Busca por um restaurante</th>
              <th scope="col">Escolha do restaurante</th>
              <th scope="col">Reserva</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Ação</th>
              <td>
                <ol>
                  <li>Entra em contato com as amigas</li>
                  <li>Verifica a agenda de todas</li>
                  <li>Definem um tipo de restaurante</li>
                </ol>
              </td>
              <td>
                <ul>
                  <li>Busca Online</li>
                  <li>Acesso às redes sociais</li>
                  <li>Pedir opinião/recomendação das amigas</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Ver as avaliações</li>
                  <li>Consultar o cardápio</li>
                  <li>Compartilhar com as amigas</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Abrir app</li>
                  <li>Selecionar o dia, horário e mesa</li>
                  <li>Reservar</li>
                  <li>Confirmação de reserva</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Sentimentos</th>
              <td>😊</td>
              <td>🤔</td>
              <td>🤩</td>
              <td>😌</td>
            </tr>
            <tr>
              <th scope="row">Oportunidade</th>
              <td>
                <ul>
                  <li>Calendário compartilhado</li>
                  <li>Enquete para votação sobre o tipo de restaurante</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>
                    Coletar as preferências da usuária e indicar restaurantes
                  </li>
                  <li>Criar uma lista com os melhores restaurantes</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Restaurantes bem avaliados aparecem primeiro</li>
                  <li>QR Code ou link para a usuária baixar o app</li>
                </ul>
              </td>
              <td>
                <ul>
                  <li>Compartilhar a reserva</li>
                  <li>Avaliação e feedback do app</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3>Fluxo do usuário</h3>
      FLUXO DO USUARIO GOES HERE
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Desenvolvimento</h2>
      <h3>Wireframes</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <h3>Resultados dos estudos de usabilidade</h3>
      <h4>1º Estudo</h4>
      <ul>
        <li>Necessidade de melhorar o fluxo de escolha de mesa.</li>
        <li>Incluir a opção de editar a reserva.</li>
        <li>
          Adicionar um campo para atendimento personalizado em situações
          especiais, como aniversários e comemorações.
        </li>
      </ul>

      <h4>2º Estudo</h4>
      <ul>
        <li>
          Melhorias no design dos botões da tela inicial (cores, proporção).
        </li>
        <li>Aprimorar os textos dos botões de ação para evitar confusão.</li>
        <li>
          Adicionar uma tela de confirmação após a avaliação do app, garantindo
          que o feedback foi registrado com sucesso.
        </li>
      </ul>

      <h3>Mockup</h3>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <h3>Elementos visuais</h3>
      <h4>Logomarca</h4>
      <h4>Cores</h4>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <h4>Ícones</h4>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

      <h4>Tipografia</h4>
      <ul>
        <li><span>Anek Odia / MEDIUM / 27px</span><span>Exemplo</span></li>
        <li><span>Anek Odia / MEDIUM / 20px</span><span>Exemplo</span></li>
        <li><span>Anek Odia / MEDIUM / 13px</span><span>Exemplo</span></li>
      </ul>

      <h4>Botões</h4>
      <ul>
        <li><button>Rótulo</button></li>
        <li><button>Rótulo</button></li>
        <li><button>1</button></li>
        <li><button>1</button></li>
        <li><button>Rótulo</button></li>
      </ul>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Conclusão</h2>
      <h3>Aprendizado</h3>
      <p>
        Este projeto reforçou a importância de entender a fundo as dores e
        necessidades dos usuários antes de propor soluções. Aprendi que
        simplicidade e clareza são essenciais para uma experiência fluida,
        especialmente em processos sensíveis como reservas. Além disso,
        participar de todas as etapas do desenvolvimento ampliou minha visão
        sobre a integração entre pesquisa, design e usabilidade, destacando a
        importância da iteração contínua com base no feedback dos usuários.
      </p>

      <h3>Próximas etapas</h3>
      <ol>
        <li>
          Coletar dados de uso do aplicativo após o lançamento para entender
          melhor como os usuários interagem com as demais funcionalidades.
        </li>
        <li>
          Analisar os feedbacks recebidos nas avaliações para identificar
          oportunidades de aprimoramento e focar nas áreas que precisam de
          melhorias.
        </li>
      </ol>
    </div>
  </section>

  <footer>
    <div class="container">
      <h2>Muito obrigado!</h2>
      <h3>Danilo Reis - UX/UI Design</h3>
      <ul>
        <li>Linkedin</li>
        <li>Behance</li>
      </ul>
    </div>
  </footer>
</main>
